/*mediaqueries*/
@media screen and (min-width: 375px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 75%;
  }
  /*OFRECEMOS*/
  .ofrecemosFrase {
    padding-top: 6rem;
  }
  .descripcionServicio {
    line-height: 2rem;
    font-size: 1rem;
  }
  .img-ppal {
    display: none;
  }
  .img-alternativa {
    display: block;
  }
  .fraseFinal {
    padding-top: 0.5rem;
  }
}
/*SERVICIOS*/
.serviciosFrase {
  padding-top: 5rem;
}
.contenedorServicios {
  margin-bottom: 1.3rem;
}
/*SOBRE-NOSOTRAS*/
.sobre_nosotras_perfiles {
  flex-direction: column;
}
.foto_perfil img {
  width: 15rem;
  height: 15rem;
}
.foto_perfil a {
  font-size: 0.8rem;
  padding: 0.8rem 1.8rem;
}
.sobre_nosotras h2 {
  font-size: 1.5rem;
}
.sobre_nosotras h2 .circulo {
  width: 3rem;
  height: 3rem;
}
/*CONTACTO*/
.contacto {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.info_contacto h2 {
  font-size: 1.5rem;
}
.info_contacto h2 .circulo_contacto {
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  left: 5%;
}
.contacto_items {
  padding: 1rem;
  font-size: 1.1rem;
  padding: 3rem;
}
@media screen and (min-width: 425px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 70%;
  }
}
@media screen and (min-width: 768px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 4rem;
  }
  .subtitle {
    top: 45%;
    left: 21%;
  }
  /*OFRECEMOS*/
  .ofrecemosFrase {
    padding-top: 5rem;
  }
  .img-ppal {
    display: none;
  }
  .img-alt {
    display: block;
  }
  .circulo-rojo {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 28rem;
  }
  .contenedorRelativo {
    padding-bottom: 0rem;
  }
  /*SERVICIOS*/
  #servicios {
    margin-top: 3rem;
  }
  .serviciosFrase {
    margin-bottom: 2rem;
    /* font-size: 1.8rem; */
  }
  .contenedorServicios {
    margin-bottom: 1.5rem;
  }
  .contenedorRelativo2 {
    position: relative;
  }
  .circulo-rojo-3 {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 32rem;
    top: 158rem;
  }
  /*SOBRE-NOSOTRAS*/
  .sobre_nosotras_perfiles {
    flex-direction: column;
  }
  .foto_perfil img {
    width: 18rem;
    height: 18rem;
  }
  .quien_soy {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .foto_perfil a {
    font-size: 0.9rem;
    padding: 1rem 2rem;
  }
  .sobre_nosotras h2 .circulo {
    width: 4.5rem;
    height: 4.5rem;
    top: 85%;
    left: 3%;
  }
  .fraseFinal {
    font-size: 1.875rem;
  }
  /*CONTACTO*/
  .contacto {
    flex-direction: column;
    gap: 3rem;
  }
  .contacto_items {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 3rem 2rem;
    border-radius: 0.3rem;
    width: 40rem;
  }
  .contacto h2 .circulo_contacto {
    top: 65%;
    left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 7rem;
  }
  .subtitle {
    top: 48%;
    left: 14%;
    font-size: 1.4rem;
  }

  /*OFRECEMOS*/
  #ofrecemos {
    margin-top: 3rem;
  }
  .descripcionServicio {
    line-height: 2.5rem;
  }
  .circulo-rojo-2 {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -2;
    left: 8rem;
    top: 18.75rem;
  }
  .circulo-rojo {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 25rem;
  }
  .fraseFinal {
    padding-top: 13rem;
  }
  .img-ppal {
    display: block;
  }
  .img-alt {
    display: none;
  }
  /*SERVICIOS*/
  #servicios {
    margin-top: 0;
  }
  .serviciosFrase {
    padding-top: 7rem;
    font-size: 2.5rem;
  }
  .descripcionCadaServicio {
    font-size: 1.15rem;
  }
  .circulo-rojo-3 {
    width: 280px;
    height: 280px;
    left: 42rem;
    top: 145rem;
  }
  /* SOBRE NOSOTRAS */
  .sobre_nosotras {
    text-align: center;
    position: relative;
    padding-top: 3.8rem;
  }
  .sobre_nosotras h2 {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
  }
  .sobre_nosotras h2 .circulo {
    width: 3rem;
    height: 3rem;
    top: 85%;
    left: 4%;
  }
  .sobre_nosotras h2::first-letter {
    position: relative;
    z-index: 2;
  }
  .sobre_nosotras_perfiles {
    flex-direction: row;
  }
  .foto_perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
  }
  .foto_perfil img {
    width: 13rem;
    height: 13rem;
  }
  .quien_soy {
    padding: 2rem 2rem;
    font-size: 1.25rem;
  }
  /* CONTACTO*/
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin: 10rem 2rem;
    scroll-margin-top: 10rem;
  }
  .imagen_contacto img {
    display: none;
  }
  .info_contacto {
    text-align: left;
    position: relative;
    text-align: center;
  }
  .info_contacto h2 {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
  }
  .info_contacto h2 .circulo_contacto {
    position: absolute;
    background-color: rgb(255, 36, 102);
    opacity: 0.8;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    z-index: -1;
    top: 77%;
    left: 6%;
    transform: translate(-50%, -50%);
  }
  .contacto_items {
    padding: 2rem;
    margin: 3rem 2rem;
    width: 50rem;
  }
  button[type="submit"] {
    display: block;
    padding: 6px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button[type="submit"]:hover {
    background-color: #34e4db;
    color: #000;
  }
  /* FOOTER */
  footer {
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 69%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 10rem;
  }
  .subtitle {
    top: 50%;
    left: 24%;
    font-size: 1.8rem;
  }
  /*OFRECEMOS*/
  #ofrecemos {
    margin-top: 4rem;
  }
  .descripcionServicio {
    font-size: 1.25rem;
  }
  .circulo-rojo-2 {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -2;
    left: 8rem;
    top: 18.75rem;
  }
  .circulo-rojo {
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 28rem;
    top: 25rem;
  }
  .fraseFinal {
    padding-top: 25rem;
    font-size: 1.875rem;
  }
  /*SERVICIOS*/
  .serviciosFrase {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  .circulo-rojo-3 {
    width: 280px;
    height: 280px;
    left: 72rem;
    top: 155rem;
  }
  .descripcionCadaServicio {
    font-size: 1.25rem;
  }
  /*SOBRE-NOSOTRAS*/
  .foto_perfil img {
    width: 15rem;
    height: 15rem;
  }
  .quien_soy {
    padding: 1.5rem 13rem;
  }
  .foto_perfil a {
    font-size: 1rem;
    padding: 1.2rem 2.5rem;
  }
  /*CONTACTO*/
  .contacto {
    flex-direction: column;
    margin: 3rem;
    margin-bottom: 9rem;

    gap: 4rem;
  }
  .info_contacto h2 .circulo_contacto {
    width: 3.5rem;
    height: 3.5rem;
    top: 55%;
    left: 6%;
  }
  .contacto_items {
    font-size: 1.5rem;
    width: 58rem;
  }
}
