/*mediaqueries*/
@media screen and (min-width: 375px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 75%;
  }
  /*OFRECEMOS*/
  .descripcionServicio {
    line-height: 2rem;
    font-size: 1rem;
  }
  .img-ppal {
    display: none;
  }
  .img-alternativa {
    display: block;
  }
  .contenedorRelativo {
    padding-bottom: 4rem;
  }
}
/*SERVICIOS*/
.serviciosFrase {
  padding-top: 4rem;
  font-size: 1.5rem;
}
.contenedorServicios {
  margin-bottom: 1.3rem;
}

@media screen and (min-width: 425px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 70%;
  }
  /*OFRECEMOS*/
  .img-ppal {
    display: none;
  }
  .img-alternativa {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 130px; /* Tamaño del círculo */
    height: 130px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 4rem;
  }
  .subtitle {
    top: 45%;
    left: 21%;
  }
  /*OFRECEMOS*/
  .ofrecemosFrase {
    padding-top: 5rem;
  }
  .img-ppal {
    display: none;
  }
  .img-alternativa {
    display: block;
  }
  .circulo-rojo {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 28rem;
  }
  .contenedorRelativo {
    padding-bottom: 0rem;
  }
  /*SERVICIOS*/
  #servicios {
    margin-top: 9rem;
  }
  .serviciosFrase {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .contenedorServicios {
    margin-bottom: 1.5rem;
  }
  .contenedorRelativo2 {
    position: relative;
  }
  .circulo-rojo-3 {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 32rem;
    top: 158rem;
  }
}
@media screen and (min-width: 1024px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 7rem;
  }
  .subtitle {
    top: 48%;
    left: 14%;
    font-size: 1.4rem;
  }

  /*OFRECEMOS*/
  .descripcionServicio {
    line-height: 2.5rem;
  }
  .circulo-rojo-2 {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -2;
    left: 8rem;
    top: 18.75rem;
  }
  .circulo-rojo {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 25rem;
  }
  .fraseFinal {
    padding-top: 23rem;
  }
  .img-ppal {
    display: block;
  }
  .img-alternativa {
    display: none;
  }
  /*SERVICIOS*/
  #servicios {
    margin-top: 0;
  }
  .descripcionCadaServicio {
    font-size: 1rem;
  }
  .circulo-rojo-3 {
    width: 280px;
    height: 280px;
    left: 42rem;
    top: 145rem;
  }
}

@media screen and (min-width: 1440px) {
  /*HOME*/
  .hero::after {
    top: 40%;
    left: 69%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
  }
  .title {
    top: 40%;
    left: 50%;
    font-size: 10rem;
  }
  .subtitle {
    top: 50%;
    left: 24%;
    font-size: 1.8rem;
  }
  /*OFRECEMOS*/
  #ofrecemos {
    margin-top: 4rem;
  }
  .descripcionServicio {
    font-size: 1.25rem;
  }
  .circulo-rojo-2 {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -2;
    left: 8rem;
    top: 18.75rem;
  }

  .circulo-rojo {
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: rgb(255, 36, 102);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    left: 28rem;
    top: 25rem;
  }
  .fraseFinal {
    padding-top: 29rem;
    font-size: 1.875rem;
  }
  /*SERVICIOS*/
  #servicios {
    margin-top: 2rem;
  }
  .serviciosFrase {
    margin-bottom: 6rem;
  }
  .circulo-rojo-3 {
    width: 280px;
    height: 280px;
    left: 72rem;
    top: 165rem;
  }
}
