/*ESTILOS GENERALES*/

/********************ATENCION!*************************************************/
/********************MOBILE-FIRST**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}
/*NAVBAR*/
.logo {
  width: 3.5rem;
  height: 3rem;
}
/* .circulo-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgb(255, 36, 102);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pyc {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
} */
.navbar-brand {
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: #000 !important;
}
.nav-link {
  text-decoration: none;
}
.nav-link.active {
  font-weight: bold; /* Estilo en negrita */
  color: rgb(255, 36, 102) !important; /* Color personalizado */
}
/*btn traduccion*/

.langWrap a:hover {
  font-weight: bolder;
  color: white;
  transition: all 0.3s ease-in-out;
}

/*HAMBURGER-NAV*/
.navbar-toggler {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
}
/* hamburger icon */
.navbar-toggler-icon {
  background-image: none;
  height: 1px;
  background-color: whitesmoke;
  position: relative;
}
/* top and bottom lines of the hamburger */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
  position: absolute;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  bottom: -8px;
}

/*SECTIONS*/
#home {
  padding-top: 96px;
  margin-top: -96px;
}

/*HOME*/
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /*Negro con 50% de opacidad */
  /*   backdrop-filter: blur 3px; */
  /*-webkit-backdrop-filter: blur(5px); */
  z-index: 1;
}
.hero > * {
  position: relative;
  z-index: 2;
}
.hero::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgb(255, 36, 102);
  border-radius: 50%;
  z-index: 2;
  opacity: 0.8;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 4; /* Encima del overlay */
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /*Suaviza el texto */
}
.subtitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  color: whitesmoke;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  z-index: 4; /* Encima del overlay */
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Suaviza el texto */
}

/*OFRECEMOS*/
.img-ppal {
  display: none;
}
.img-alt {
  display: block;
}
.contenedorRelativo {
  position: relative;
}
.ofrecemosFrase {
  padding-top: 5rem;
  z-index: 1;
}
.descripcionServicio {
  line-height: 2rem;
}
.fraseFinal {
  animation: blink 5s infinite;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8),
    0 0 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 0, 0, 0.5); /* Tono rojizo */
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*SERVICIOS*/
.serviciosFrase {
  padding-top: 3.2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.cuadrado {
  width: 3.125rem;
  height: 3.125rem;
  background-color: rgb(255, 36, 102);
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tituloSvcio {
  margin-bottom: 1rem;
}
.descripcionCadaServicio {
  line-height: 1.4;
  font-size: 0.875rem;
}

/* SOBRE NOSOTRAS */
.sobre_nosotras {
  text-align: center;
  position: relative;
  padding-top: 4rem;
}
.sobre_nosotras h2 {
  position: relative;
  display: inline-block;
  /*font-size: 1.5rem; */
}
.circulo {
  position: absolute;
  background-color: rgb(255, 36, 102);
  opacity: 0.6;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  z-index: -2;
  top: 73%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.sobre_nosotras h2::first-letter {
  position: relative;
  z-index: 2;
}
.sobre_nosotras_perfiles {
  display: flex;
  flex-direction: column;
}
.foto_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
}
.foto_perfil img {
  width: 12rem;
  height: 12rem;
}
.quien_soy {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  color: white;
}
.foto_perfil a {
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: bolder;
  background-color: rgb(255, 36, 102);
  opacity: 0.8;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.55);
}
.foto_perfil a:hover {
  background-color: rgb(252, 8, 81);
  transition: all 0.3s ease-in-out;
}
/* CONTACTO */
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 4rem;
  scroll-margin-top: 10rem;
}
.imagen_contacto img {
  width: 100%;
}
.info_contacto {
  text-align: center;
  position: relative;
}
.info_contacto h2 {
  position: relative;
  display: inline-block;
}

.circulo_contacto {
  position: absolute;
  background-color: rgb(255, 36, 102);
  opacity: 0.6;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  z-index: -1;
  top: 3.5%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.contacto_items {
  background-color: rgb(255, 36, 102);
  opacity: 0.8;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 1rem;
  padding: 1rem;
  margin: 3rem 1rem;
  border-radius: 0.3rem;
}

button[type="submit"] {
  display: block;
  padding: 6px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button[type="submit"]:hover {
  background-color: #34e4db;
  color: #000;
}

footer {
  color: white;
  text-align: center;
}
